/** Style of sidebars */
.sidebar {
  margin: 5px 0;
}
.sidebar div.tab {
  /* text-orientation: sideways; */
  writing-mode: tb;
  transform: rotate(180deg);
}
.sidebar .tab {
  cursor: pointer;
  display: inline-block;
  text-transform: capitalize;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  margin: 5px 0;
  padding: 10px 0;
  background: rgba(255, 0, 0, 0.1);
}
.sidebar input[type=radio]:checked,
.sidebar .tab:hover {
  cursor: pointer;
  background: #F66;
  color: white;
}
.sidebar .tab.active {
  /*border-left: 5px solid white; */
  background: #F66;
  color: white;
  text-decoration: underline;
}
.sidebar input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  display: block;
}
.sidebar input[type=radio]:checked {
  margin-right: -10px;
  padding-right: 10px;
  background: linear-gradient(90deg, #F66, transparent);
}
.sidebar input[type=radio]:checked:hover {
  background: #F66;
}
.sidebar input[data-text]::before {
  content: attr(data-text);
  display: inline-block;
  writing-mode: tb;
  transform: rotate(180deg);
  line-height: 50px;
  font-size: 1rem;
}
.sidebar ~ .sidebar {
  border-top: 2px solid silver;
  padding-top: 5px;
}
